body {
    background-color: lightgray;
}

h1{
    text-align: center;
    font-size: 4em;
}

#encode-div #decode-div {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
};